{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

<!-- 画面右部 -->
<div class="main_contents col-10">
    <div class="row g-3">
        <form action="{% url 'add' %}" method="GET">
            {% csrf_token %}
            <div class="row pb-3">
                <div class="col-10 col-sm-8 col-lg-6">{{ form.question_title|as_crispy_field }}</div>
                <div class="col-1  col-sm-1 col-lg-6" style="padding-top: 20px;"><button type="submit" value="click"
                        class="block block4 btn btn-primary btn-lg btn-circle btn-circle" tabindex="-1" role="button"><i
                            class="fas fa-check"></i></button></div>


            </div>

            <div class="card">
                <div class="card-body">
                    <div class="pb-3">{{ form.question_contents|as_crispy_field }}</div>
                </div>
                <div class="container" style="padding: 0px;">
                    <div class="status border-top">ステータス</div>
                    <div class="status_data border-top">{{ form.status|add_class:'form-control' }}</div>
                    <div class="questioner border-top">質問者</div>
                    <div class="questioner_data border-top">{{ form.questioner|add_class:'form-control' }}</div>
                    <div class="category1 border-top">大項目</div>
                    <div class="category1_data border-top">{{ form.category_system|add_class:'form-control' }}</div>
                    <div class="category2 border-top">中項目</div>
                    <div class="category2_data border-top">{{ form.category_detail|add_class:'form-control' }}</div>
                    <div class="tags border-top border-bottom">検索タグ</div>
                    <div class="tags_data border-top border-bottom">{{ form.tags|add_class:'form-control' }}<span
                            style="font-size:5px;color:rgb(91, 79, 79)">※カンマ区切りで入力</span></div>
                </div>
            </div>

        </form>
    </div>
</div>
</div>

{% endblock %}