{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/datatables.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-167993608-2');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <title>QLog | 質問管理システム</title>
</head>
<header>
    <div class="col-12 col-md-12"  style="height:100%;">
        <div class="header_logo">
            <a href="/myapp"><i class="fas fa-box" style="color:white;"></i></a>

        </div>
        <div class="header_title">
            Q Log | 質問管理システム
        </div>
        <div class="header_batch">
            <i class="fas fa-bell" id="batch_icon"></i>

            <!-- Button trigger modal -->
            <button id="batch_count" type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#exampleModal">{{count}}</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Order</h5>
                        </div>
                        <div class="modal-body modal_new_order">
                            <table>
                                {% if new_orders != 0 %}
                                {% for new_order in new_orders %}
                                <tr>
                                    <td><a href="{% url 'detail' pk=new_order.pk %}">{{ new_order.question_title }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- スマホ用　検索フォーム -->
        <div class="contents_list col-0 col-md-0 d-lg-none" style="display: inline-block;">
            <a href="{% url 'add' %}" class="btn-flat-border"><span><i class="fa-solid fa-plus"></i></span></a>
        </div>
    </div>
</header>

<body>
    <div class="main_body row col-xs-12">
        <!-- 画面左部 -->
        <div class="contents_left d-none d-lg-block col-lg-2 col-sm-0">
            <div class="wrapper_left">

                <nav class="nav flex-column">
                    <br>
                    <a href="{% url 'add' %}" class="btn-flat-border">
                        <i class=" sub_list far fa-plus-square" style="padding: 0; width: 38px;"></i>
                        <h6 style="font-weight: bold;display: inline-block;">質問の追加</h6>
                    </a>
                    <a href="/myapp" class="btn-flat-border">
                        <i class=" sub_list far fa-list-alt" style="padding: 0 10px;"></i>
                        <h6 style="font-weight: bold;display: inline-block;">質問一覧</h6>
                    </a>
                </nav>

                <div class="box" style="padding-left: 0;">
                    <a class="main_history" style="color:white ;margin-top: 20px; margin-left: 10px;">▼  更新タイトル</a>
                  
                    <div class="content">
                        <table style="padding: 5px;">
                            {% if hists != 0 %}
                            {% for hist in hists %}
                            <tr>
                                <td><a href="{% url 'detail' pk=hist.pk %}">{{ hist.question_title }}</a></td>
                                <!-- <td>{{ post.question_title }}</td> -->
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                  </div>
            </div>

        </div>


        <div class="main_contents col-lg-10 col-xs-12">
        {% block content %}
        {% endblock %}
    </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/datatables.min.js"></script>
    <script src="{% static '/script.js' %}"></script>
    <script>
        $(function () {
            // datatableの設定を変更

            $("#table1").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
                    // "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
                }
            });
        });
        function format(d) {
            return '<table style="width:100%;font-size:12px;">' +
                '<tr>' +
                '<td>大項目</td>' +
                '<td>' + d[2] + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td >中項目</td>' +
                '<td>' + d[3] + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>ステータス</td>' +
                '<td>' + d[5] + '</td>' +
                '</tr>' +
                '</table>';
        }

        $(document).ready(function () {
            var ghibuliTable = $('#table2').DataTable({
                searching: true,
                lengthChange: false,
                info: false,
                paging: false,
                columnDefs: [
                    // 非表示
                    { targets: [1, 2, 3, 5, 6], visible: false }
                ]
            });

            $('#table2 tbody').on('click', 'td.details-control', function () {

                var tr = $(this).closest('tr');
                var row = ghibuliTable.row(tr);

                // 行の開閉イベント
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        }); 
    </script>
</body>

</html>