{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- 画面右部 -->
    <div class="main_contents col-10">

        <form action="{% url 'edit' posts.id %}" method="POST">
            {% csrf_token %}
            <div class="row pt-3 pb-2">
                <div class="col-auto">
                    <label class="col-form-label">{{ posts.category_system }}</label>
                    <label class="col-form-label" style="padding-right: 15px;">Q-{{ posts.id }}</label>
                    <label class="col-form-label">
                        <td>
                            {% for p in posts.tags %}
                            <span class="badge bg-secondary">{{p}}</span>
                            {% endfor %}
                        </td>
                    </label>
                </div>
            </div>
            <div class="pb-2"><h4 style="color: rgb(82, 88, 94);">{{ posts.question_title }}</h4></div>

            <div class="card w-100 mb-3">
                <div class="container-fluid card-body">
                    <div class="card-title">
                        <p class="text">
                            <div class="wrapper">
                                <div class="block block1"><i class="far fa-address-card fa-2x text_icon"></i></div>
                                <div class="text_name"><p style="text-align: left;">質問者：{{ posts.questioner }}</p></div>
                                <div class=""><p style="text-align: left; color: slategray;">{{ posts.update }}</p></div>
                                <button type="submit" value="click" class="block block4 btn btn-success btn-lg btn-circle btn-circle" tabindex="-1" role="button"><i class="far fa-edit"></i></button>
                            </div>
                        </p>
                    </div>
                    <p class="card-text">
                        <div class="pb-3">{{ posts.question_contents| linebreaksbr }}</div>
                        <div class="container" style="padding: 0px;">
                            <div class="status border-top">ステータス</div>
                            <div class="status_data border-top">{{ posts.status }}</div>
                            <div class="questioner border-top">質問者</div>
                            <div class="questioner_data border-top">{{ posts.questioner }}</div>
                            <div class="category1 border-top border-bottom">大項目</div>
                            <div class="category1_data border-top border-bottom">{{ posts.category_system }}</div>
                            <div class="category2 border-top border-bottom">中項目</div>
                            <div class="category2_data border-top border-bottom">{{ posts.category_detail }}</div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="card w-100 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Answer</h5>
                    <p class="card-text">{{ posts.answer | linebreaksbr }}</p>
                </div>
            </div>
        </form>

        <!-- 戻る -->
        <form action="{% url 'delete' posts.id %}" method="POST">
            {% csrf_token %}
            <a href="/myapp" class="btn btn-primary btn-lg" tabindex="-1" role="button"><i class="far fa-arrow-alt-circle-left"></i></a>
            <button class="btn btn-danger btn-lg" type="submit" onclick='return confirm("本当に削除しますか？");'><i class="far fa-trash-alt"></i></button>
        </form>
    </div>

{% endblock %}